@import "mocha.css";

/* --- GENERAL --- */
* {
  font-family: Monaspace Krypton, Bold;
  font-size:11px;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
}    


#waybar {
  background: #000000;
  border-radius: 4px;
  opacity: 0.8;
  margin: 0px 25px 0px;
}

window#waybar {
  background-color: #000000;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0px 10rem 0px;
}


#window,
#custom-nowplaying,
#custom-cava,
#clock,
#network,
#idle_inhibitor,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-updates,
#custom-dunst,
#tray,
#custom-lock,
#custom-power {
  background-color: #000000;
  padding: 0.3rem 0.5rem;
}

/* --- LEFT MODULES --- */

#workspaces {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0px 0px 0px;
  padding-left: 0rem;
  
  background-color: #000000;
}

#workspaces button {
  color: @mauve;
  background-color: transparent;
  margin: 0.1rem 0.1rem;
  border-radius: 2px;

  transition: color 0.5s, background-color 0.5s;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.special {
  color: @rosewater;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface1;
}

#workspaces button:hover {
  color: @sapphire;
  background-color: @surface2;
}

#window {
  border-radius: 0px 10rem 10rem 0px;
  background-color: @mantle;
  margin-right: 10rem;
}

/* --- CENTER MODULES --- */
#custom-nowplaying {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-cava {
  color: @mauve;
  font-family: "bargraph";
  font-size: 22px;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  color: @mauve;
}

/* --- RIGHT MODULES --- */

#network {
  color: @teal;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#idle_inhibitor.deactivated {
  color: @peach;
}

#idle_inhibitor.activated {
  color: @green;
}

#pulseaudio {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
}

#bluetooth {
  color: @mauve;
}

#cpu {
  color: @mauve;
}

#memory {
  color: @mauve;
}

#temperature {
  color: @flamingo;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @mauve;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 0.75rem;
}

#battery.charging {
  color: @mauve;
}

#battery.warning:not(.charging) {
  color: @red;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-updates {
  color: @mauve;
}

#custom-dunst {
  margin-right: 0.75rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @sapphire;
}

/*---*/

#tray {
  margin-right: 0.75rem;
  border-radius: 1rem;
}

/* --- */

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @mauve;
}

#custom-power {
  border-radius: 0px 1rem 1rem 0px;
  color: @mauve;
  margin-right: 5px;
}